In [93]:
#Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time
import json
from pprint import pprint
from scipy.stats import ttest_ind
from datetime import datetime
from config import yelp_key

In [2]:
county_datafile = "data/LOS_ANGELES_COUNTY_RESTAURANT_AND_MARKET_INSPECTIONS.csv"

county_data = pd.read_csv(county_datafile)
county_data.count()

ACTIVITY DATE           199950
OWNER ID                199950
OWNER NAME              199950
FACILITY ID             199950
FACILITY NAME           199950
RECORD ID               199950
PROGRAM NAME            199950
PROGRAM STATUS          199950
PROGRAM ELEMENT (PE)    199950
PE DESCRIPTION          199950
FACILITY ADDRESS        199950
FACILITY CITY           199950
FACILITY STATE          199950
FACILITY ZIP            199950
SERVICE CODE            199950
SERVICE DESCRIPTION     199950
SCORE                   199950
GRADE                   199895
SERIAL NUMBER           199950
EMPLOYEE ID             199950
dtype: int64

In [162]:
columns = ['ACTIVITY DATE','FACILITY ID','FACILITY NAME','PROGRAM STATUS','PE DESCRIPTION','FACILITY ADDRESS','FACILITY CITY','FACILITY ZIP','SCORE','GRADE']
cleaned_county_data = county_data[columns]
cleaned_county_data['ACTIVITY DATE'] = pd.to_datetime(cleaned_county_data['ACTIVITY DATE'])
cleaned_county_data.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,ACTIVITY DATE,FACILITY ID,FACILITY NAME,PROGRAM STATUS,PE DESCRIPTION,FACILITY ADDRESS,FACILITY CITY,FACILITY ZIP,SCORE,GRADE
0,2016-06-22,FA0179753,TEA BAR,ACTIVE,RESTAURANT (31-60) SEATS HIGH RISK,954 E ALOSTA AVE,AZUSA,91702,93,A
1,2016-09-07,FA0239319,SHEFA,ACTIVE,RESTAURANT (0-30) SEATS HIGH RISK,7275 MELROSE AVE,LOS ANGELES,90046,90,A
2,2016-09-09,FA0071154,SUBWAY,ACTIVE,RESTAURANT (0-30) SEATS MODERATE RISK,28788 THE OLD RD,VALENCIA,91355,98,A
3,2016-04-01,FA0144494,AFC SUSHI @ VONS #3138,ACTIVE,RESTAURANT (0-30) SEATS HIGH RISK,16550 SOLEDAD CANYON RD,CANYON COUNTRY,91387-3215,99,A
4,2016-04-01,FA0005693,ALBERTS MEXICAN FOOD,INACTIVE,RESTAURANT (0-30) SEATS HIGH RISK,2355 PECK RD,SOUTH EL MONTE,91733,92,A

In [164]:
cleaned_county_data.sort_values(by = ["ACTIVITY DATE","FACILITY ID","FACILITY ADDRESS"],inplace = True,ascending=True)
cleaned_county_data.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,ACTIVITY DATE,FACILITY ID,FACILITY NAME,PROGRAM STATUS,PE DESCRIPTION,FACILITY ADDRESS,FACILITY CITY,FACILITY ZIP,SCORE,GRADE
94,2016-04-01,FA0002213,RANCHITO MILLAN,ACTIVE,RESTAURANT (61-150) SEATS HIGH RISK,5803 S SOTO ST,HUNTINGTON PARK,90255,94,A
12,2016-04-01,FA0004764,BALDWIN OIL,ACTIVE,"FOOD MKT RETAIL (1-1,999 SF) LOW RISK",13758 LOS ANGELES ST,BALDWIN PARK,91706,98,A
14,2016-04-01,FA0004876,BANQUET KITCHEN,ACTIVE,RESTAURANT (151 + ) SEATS HIGH RISK,135 N GRAND AVE,LOS ANGELES,90012,97,A
5,2016-04-01,FA0005575,ALL STAR PARK COMPANY,INACTIVE,RESTAURANT (0-30) SEATS LOW RISK,17911 S BELLFLOWER BLVD,BELLFLOWER,90706,91,A
17,2016-04-01,FA0005633,BIG O LIQUIOR,INACTIVE,"FOOD MKT RETAIL (1-1,999 SF) LOW RISK",4626 S VERMONT AVE,LOS ANGELES,90037,95,A

In [165]:
unique_county_data = cleaned_county_data.drop_duplicates(subset = ['FACILITY ID'], keep = 'last')
unique_county_data.count()

ACTIVITY DATE       44581
FACILITY ID         44581
FACILITY NAME       44581
PROGRAM STATUS      44581
PE DESCRIPTION      44581
FACILITY ADDRESS    44581
FACILITY CITY       44581
FACILITY ZIP        44581
SCORE               44581
GRADE               44563
dtype: int64

In [166]:
unique_county_data = unique_county_data.loc[(unique_county_data['PROGRAM STATUS'] != "INACTIVE"),:]
unique_county_data.count()

ACTIVITY DATE       36474
FACILITY ID         36474
FACILITY NAME       36474
PROGRAM STATUS      36474
PE DESCRIPTION      36474
FACILITY ADDRESS    36474
FACILITY CITY       36474
FACILITY ZIP        36474
SCORE               36474
GRADE               36462
dtype: int64

In [167]:
unique_county_data = unique_county_data[unique_county_data['PE DESCRIPTION'].str.contains("RESTAURANT")]
unique_county_data.count()

ACTIVITY DATE       26525
FACILITY ID         26525
FACILITY NAME       26525
PROGRAM STATUS      26525
PE DESCRIPTION      26525
FACILITY ADDRESS    26525
FACILITY CITY       26525
FACILITY ZIP        26525
SCORE               26525
GRADE               26515
dtype: int64

In [168]:
unique_county_data = unique_county_data.dropna(how='any')
unique_county_data.count()

ACTIVITY DATE       26515
FACILITY ID         26515
FACILITY NAME       26515
PROGRAM STATUS      26515
PE DESCRIPTION      26515
FACILITY ADDRESS    26515
FACILITY CITY       26515
FACILITY ZIP        26515
SCORE               26515
GRADE               26515
dtype: int64

In [169]:
nofastfood_df = unique_county_data[~unique_county_data['FACILITY NAME'].str.contains("#")]
nofastfood_df.count()

ACTIVITY DATE       22512
FACILITY ID         22512
FACILITY NAME       22512
PROGRAM STATUS      22512
PE DESCRIPTION      22512
FACILITY ADDRESS    22512
FACILITY CITY       22512
FACILITY ZIP        22512
SCORE               22512
GRADE               22512
dtype: int64

In [156]:
sample_data = nofastfood_df.sample(n=1000)
sample_data

,ACTIVITY DATE,FACILITY ID,FACILITY NAME,PROGRAM STATUS,FACILITY ADDRESS,FACILITY CITY,FACILITY ZIP,SCORE,GRADE
128196,2017-11-20,FA0053244,UNION GRIND,ACTIVE,1000 E VICTORIA ST,CARSON,90747,96,A
166589,2018-05-14,FA0003747,ANDERS JUICE BAR,ACTIVE,7230 FIRESTONE BLVD,DOWNEY,90241,90,A
166856,2018-05-15,FA0003052,AJISEN RAMEN,ACTIVE,18253 COLIMA RD STE 104,ROWLAND HEIGHTS,91748,94,A
193503,2018-09-06,FA0002309,7-ELEVEN,ACTIVE,504 S CITRUS AVE,AZUSA,91702,97,A
159096,2018-04-13,FA0053294,MINI MERCADITO IN E.L.A.,ACTIVE,3425 E 1ST ST STE 132,LOS ANGELES,90063,96,A
144814,2018-02-12,FA0073844,WENDY'S MARKET,ACTIVE,3354 EAGLE ROCK BLVD,LOS ANGELES,90065,83,B
155020,2018-03-28,FA0034085,STANLEY'S LIQUOR,ACTIVE,1803 S PACIFIC AVE,SAN PEDRO,90731,91,A
159480,2018-04-16,FA0038865,THE LA HOTEL DOWNTOWN - ZIRAN,ACTIVE,333 S FIGUEROA ST # 103,LOS ANGELES,90071,90,A
195562,2018-09-13,FA0242434,SEVEN SEAS GOURMET FOODS,ACTIVE,318 N CENTRAL AVE,GLENDALE,91203,98,A
151868,2018-03-14,FA0023259,MADRONA CAR WASH,ACTIVE,3405 SEPULVEDA BLVD,TORRANCE,90503,97,A
183140,2018-07-24,FA0150295,SILVERCREST KITHCHEN,ACTIVE,947 S HOOVER ST,LOS ANGELES,90006-1915,100,A
159436,2018-04-16,FA0048013,SEE'S CANDY,ACTIVE,1301 WILSHIRE BLVD,SANTA MONICA,90403,98,A
144901,2018-02-13,FA0015226,CINNABON,ACTIVE,1233 W RANCHO VISTA BLVD STE #753,PALMDALE,93551,93,A
178211,2018-07-02,FA0176788,TLACO TACOS,ACTIVE,11923 SANTA MONICA BLVD,LOS ANGELES,90025,94,A
197456,2018-09-20,FA0250617,MOSMAN'S COUNTRY STEAKHOUSE & BAR,ACTIVE,46645 60TH ST W,LANCASTER,93536-8501,91,A
178136,2018-07-02,FA0029419,HOP LI SEAFOOD RESTAURANT,ACTIVE,11901 SANTA MONICA BLVD STE 102,LOS ANGELES,90025,90,A
189762,2018-08-20,FA0172013,THAI PALMS RESTAURANT,ACTIVE,957 E PALMDALE BLVD # 2,PALMDALE,93550-4711,97,A
175521,2018-06-20,FA0156266,HARBOR REEF RESTAURANT,ACTIVE,2 TWO HARBORS S C,AVALON,90704,81,B
191805,2018-08-29,FA0003428,BIRDIE'S,ACTIVE,700 S ALMANSOR ST,ALHAMBRA,91801,92,A
196215,2018-09-18,FA0248499,BAMBOO CHINESE CUISINE,ACTIVE,4808 MELROSE AVE,LOS ANGELES,90029,85,B
172757,2018-06-08,FA0057528,ANGEL'S CAKE DECORATING&CAND,ACTIVE,17424 BELLFLOWER BLVD,BELLFLOWER,90706,97,A
197750,2018-09-21,FA0222353,HONEYBOBA,ACTIVE,11573 SANTA MONICA BLVD,LOS ANGELES,90025,82,B
197579,2018-09-20,FA0018971,SUNRISE MARKET,ACTIVE,12777 SAN FERNANDO RD #4,SYLMAR,91342,90,A
166433,2018-05-11,FA0178544,JJ'S SANDWICH BAR,ACTIVE,119 E 6TH ST,LOS ANGELES,90014,92,A
190207,2018-08-22,FA0021749,ELAT MEAT MARKET,ACTIVE,8730 W PICO BLVD,LOS ANGELES,90035,95,A
176629,2018-06-25,FA0255186,MARU SUSHI BAR,ACTIVE,21515 W DEVONSHIRE ST,CHATSWORTH,91311-2937,93,A
138844,2018-01-16,FA0241614,CANYON MARKET AND LIQUOR,ACTIVE,7421 HILLROSE ST,TUJUNGA,91042,97,A
115065,2017-09-20,FA0250716,VALLE DE LUNA MINI MARKET,ACTIVE,1513 W MARTIN LUTHER KING JR BLVD,LOS ANGELES,90062,100,A
198778,2018-09-25,FA0074175,WOODY'S BAR-B-QUE,ACTIVE,1958 W FLORENCE AVE,LOS ANGELES,90047,93,A
191376,2018-08-28,FA0020704,EL CHINO RESTAURANT & TAQUERIA,ACTIVE,2119 W 8TH ST D,LOS ANGELES,90057,94,A
...,...,...,...,...,...,...,...,...,...
159418,2018-04-16,FA0069392,RED GINGER,ACTIVE,22984 VENTURA BLVD,WOODLAND HILLS,91364,96,A
195368,2018-09-13,FA0224588,FUJISAN SUSHI @ SAM'S CLUB,ACTIVE,2601 SKYPARK DR,TORRANCE,90505,99,A
190701,2018-08-23,FA0224043,SAGO SMOOTHIE & BOBA SHOP,ACTIVE,7300 TOPANGA CANYON BLVD # 4,CANOGA PARK,91303,97,A
197965,2018-09-24,FA0248311,CERRITOS MARKET LIQUOR,ACTIVE,12606 SOUTH ST,CERRITOS,90703,99,A
192950,2018-09-04,FA0006522,ORIGINAL ANTONIO'S PIZZERIA,ACTIVE,114 SUMNER AVE,AVALON,90704,85,B
191271,2018-08-28,FA0004712,BAEKJEONG,ACTIVE,3465 W 6TH ST STE #20,LOS ANGELES,90020,95,A
160882,2018-04-20,FA0202832,ROYAL DELI MARKET,ACTIVE,410 W 6TH ST # A,LOS ANGELES,90014,91,A
138424,2018-01-11,FA0067140,MONTE CARLO,ACTIVE,3103 W MAGNOLIA BLVD,BURBANK,91505,98,A
188035,2018-08-13,FA0259347,URBAN GRILL,ACTIVE,12907 SHERMAN WAY,NORTH HOLLYWOOD,91605,96,A
189480,2018-08-17,FA0249197,SAKURA SUSHI HOUSE,ACTIVE,215 E FOOTHILL BLVD,MONROVIA,91016,95,A
178128,2018-07-02,FA0021925,EMILIA'S FASTFOOD,ACTIVE,4433 S ALAMEDA ST # D-55,LOS ANGELES,90058,94,A
194812,2018-09-12,FA0007114,CALIFORNIA PIZZA KITCHEN,ACTIVE,9301 TAMPA AVE UNIT 129,NORTHRIDGE,91324,97,A
197797,2018-09-21,FA0067317,MUCHO MAS,ACTIVE,10405 BURBANK BLVD,NORTH HOLLYWOOD,91601,99,A
197453,2018-09-20,FA0039524,MINI-MARKET ROSITA,ACTIVE,8400 CALIFORNIA AVE,SOUTH GATE,90280,93,A
190369,2018-08-22,FA0049797,SUBWAY,ACTIVE,11713 VENTURA BLVD,STUDIO CITY,91604,92,A
171561,2018-06-05,FA0026192,GUCKENHEIMER SERVICE LLC.,ACTIVE,3400 W RIVERSIDE DR,BURBANK,91505,93,A
153264,2018-03-21,FA0037628,FRESCO BAR,ACTIVE,2627 N HOLLYWOOD WAY,BURBANK,91505,99,A
185399,2018-08-01,FA0074400,ZANKOU CHICKEN,ACTIVE,1415 E COLORADO ST # D,GLENDALE,91205,94,A
183659,2018-07-25,FA0046896,ROSE CITY PIZZA,ACTIVE,3588 ROSEMEAD BLVD,ROSEMEAD,91770,99,A
153756,2018-03-22,FA0249656,DOUGHLICIOUS SWEETS & TREATS,ACTIVE,24201 W VALENCIA BLVD # 1210,VALENCIA,91355,99,A
186538,2018-08-07,FA0261341,R&R LIQUOR & JUNIOR MARKET,ACTIVE,10509 COMPTON AVE,LOS ANGELES,90002,98,A
175809,2018-06-20,FA0261113,YOUSHANT SA FANG INC.,ACTIVE,30 E DUARTE RD,ARCADIA,91006,93,A
185326,2018-08-01,FA0036151,TACOS EL NEGRO,ACTIVE,5720 IMPERIAL HWY STE #Q,SOUTH GATE,90280,95,A
189573,2018-08-20,FA0257996,BUDDY CHICKEN,ACTIVE,100 W BROADWAY ST STE FC-03,GLENDALE,91210-1202,81,B
193274,2018-09-05,FA0022254,LITTLE JOE'S FRESH MEX,ACTIVE,4171 E LIVE OAK AVE,ARCADIA,91006,96,A
185181,2018-08-01,FA0035123,LILYS CAFE,ACTIVE,357 E MAGNOLIA BLVD,BURBANK,91502,100,A
177932,2018-06-29,FA0060128,COLIMA BAKERY MART,ACTIVE,18765 E COLIMA RD,ROWLAND HEIGHTS,91748,93,A
177914,2018-06-29,FA0179854,CARONDELET HOUSE,ACTIVE,627 S CARONDELET ST,LOS ANGELES,90057,97,A
185744,2018-08-02,FA0071944,TASTEA,ACTIVE,1737 FULLERTON RD STE A,ROWLAND HEIGHTS,91748,92,A
181687,2018-07-18,FA0047393,SALON FIESTAT EL PICANTE,ACTIVE,6315 FLORENCE PL,BELL GARDENS,90201,98,A

In [171]:
#headers = {"Authorization": "Bearer "+yelp_key}
#params = {"term": unique_county_data['FACILITY NAME'].iloc[0],"location": unique_county_data['FACILITY ZIP'].iloc[0]}
#target_url = "https://api.yelp.com/v3/businesses/search"

#yelp_reviews = requests.get(target_url, params, headers=headers).json()
#yelp_reviews

In [157]:
headers = {"Authorization": "Bearer "+ yelp_key}
target_url = "https://api.yelp.com/v3/businesses/search"

final_df = pd.DataFrame()
name = []
rating = []
review_count = []
price = []

#for index, row in sample_data.iloc[:10,:].iterrows():
for index, row in sample_data.iterrows():
    restr_name = row['FACILITY NAME']
    restr_zip = row['FACILITY ZIP']
    restr_addr = row['FACILITY ADDRESS']
    restr_city = row['FACILITY CITY']
    params = {"term": restr_name,"location": str(restr_loc + ", " + restr_city + ", "+restr_zip)}
    
    yelp_response = requests.get(target_url, params, headers=headers)
    
    if yelp_response.status_code != requests.codes.ok:
        print(yelp_response.text)
    else:
        yelp_data = yelp_response.json()
        try:
            name.append(yelp_data['businesses'][0]['name'])
            #print(yelp_data['businesses'][0]['name'])
        except (KeyError, IndexError):
            name.append("NA")
            #print("Missing Name...")
        try:
            rating.append(yelp_data['businesses'][0]['rating'])
            #print(yelp_data['businesses'][0]['rating'])
        except (KeyError, IndexError):
            rating.append("NA")
            #print("Missing Rating...")
        try:
            review_count.append(yelp_data['businesses'][0]['review_count'])
            #print(yelp_data['businesses'][0]['review_count'])
        except (KeyError, IndexError):
            review_count.append("NA")
            #print("Missing Reviews...")    
        try:    
            price.append(yelp_data['businesses'][0]['price'])
            #print(yelp_data['businesses'][0]['price'])
        except (KeyError, IndexError):
            price.append("NA")
            #print("Missing Price...")

In [159]:
final_df['Name'] = name
final_df['Rating'] = rating
final_df['Reviews'] = review_count
final_df['Price'] = price
final_df.count()

Name       1000
Rating     1000
Reviews    1000
Price      1000
dtype: int64

In [160]:
final_df['Reviews'] = pd.to_numeric(final_df['Reviews'],errors = 'coerce').fillna(0).astype(np.int64)
q1 = np.percentile(final_df['Reviews'],25)
q1

19.0

In [161]:
percentiled_df = final_df.loc[final_df['Reviews'] > q1, :]
percentiled_df

                                          Name Rating  Reviews Price
1                       Mattern Sausage & Deli    4.5      534     $
2                                 Ajisen Ramen    3.5      404    $$
5                         Belcampo Burger DTLA    3.5      502    $$
7                The L.A. Grand Hotel Downtown      3      274   $$$
9                             Madrona Car Wash      3      297    NA
11                               See's Candies      4       86    $$
12                                    Cinnabon      3       29     $
13                                  Tlaco Taco    3.5       27     $
15                   Hop Li Seafood Restaurant    3.5      323    $$
16                       Palms Thai Restaurant      4     2504    $$
17                      Harbor Reef Restaurant    3.5       65    $$
18                                     Birdies      4     1464    $$
19                      Bamboo Chinese Cuisine    3.5       72    $$
20                                    Franco's      4     1091    $$
21                                   Honeyboba    3.5      342     $
23                          JJ's Sandwich Shop    4.5      194     $
24                                 Elat Market      3      157     $
25                              Maru Sushi Bar    4.5      171    $$
28                           Woody's Bar-B-Que    3.5      196    $$
29                               Gracias Madre      4     3536    $$
33                          Corner Bakery Cafe      3      385     $
34                                Pronto Pizza    3.5       46     $
37                   Hop Li Seafood Restaurant    3.5      403    $$
38                                        K-ZO      4      719   $$$
39                                 Shoga Sushi    3.5      185    $$
40                            Locanda Positano      4      520   $$$
42                           The Carving Board    4.5      311    $$
43                            Genwa Korean BBQ    4.5     2646    $$
44                                  Tasty Food    4.5      304     $
45                                   Fruitland      4       85     $
..                                         ...    ...      ...   ...
963                                 LA Fitness      3      400    NA
964                              Gelateria Uli    4.5      572     $
966                               Salsa & Beer      4     2760    $$
969                                     Pho VT    4.5       69    $$
970                    Red Ginger Thai & Sushi      4      233    $$
971                                 Sam's Club      3      201    $$
972                          Volcano Tea House    3.5     1241     $
973                   Cerritos Market & Liquor    3.5       21    $$
974                             Pizzeria Mozza      4     3990    $$
975                     Kang Ho-dong Baekjeong    4.5     3884    $$
976                              Nijiya Market      4      254    $$
977                            Monte Carlo Bar      4       37     $
978                                Urban Grill    4.5      106     $
979                         Sakura Sushi House      4      183    $$
981  California Pizza Kitchen at Culver Center      3      287    $$
982                                  Mucho Mas    3.5      401    $$
983         Benny's Tacos & Chicken Rotisserie    4.5     1368     $
984                                     Subway      3       40     $
986                              Wall ST Pizza      4      123    $$
987                             Zankou Chicken      4     1257     $
988                            Rose City Pizza      4     1027    $$
989                    California Cookie Dough      4      321     $
990                         Robert Burns Wines    4.5       26    $$
992                             Tacos El Negro    4.5      271     $
993                       Buddy Chicken & Boba    2.5       26    NA
994                      Little Joes Fresh Mex      4      101     $
995                                Lily's Cafe    4.5      174     $
996                                 168 Market      4       77     $
997                           Carondelet House    4.5       90    NA
998                                     Tastea    4.5      125     $

[740 rows x 4 columns]

In [170]:
# Save Data to csv
percentiled_df.to_csv("final_output_data.csv")